:root{
    --main-color: #fcb700;
    --dark-color: #222222;
    --parg-color: #666666;
    --dark-red: #d01418;
    --border-color: #6666662a;
    --name-item: #0066c0;
    --bg-color:#eee;
    --white-color:#fff;
}
/* *{
    transition: 3s ease-in-out all ;

} */
/* pledge */
.pledge{
    margin: 50px 0;
}
.pledge .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pledge .pledgesummary{
    width:45%;
    padding: 0 20px;
    padding-bottom: 20px;
    border:  2px solid var(--border-color);
    border-radius: 5px;
    box-shadow: 0px 8px 10px #c0bfbf44;
}
.pledge .pledgesummary h1{
    border-bottom: 1px solid var(--border-color);
    padding: 20px 0;
    margin-bottom: 20px;
    color: var(--main-color);
}
.pledge .pledgesummary .items{
    overflow-y:auto !important;
    height: 300px;
}
.pledge .pledgesummary .pledge-cart{
    display:flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    height: 125px;
    border-bottom: 1px solid var(--border-color);
    padding-right: 20px;
}

.pledge .pledgesummary .pledge-cart:last-child{
    border-bottom: 0;
}

.pledge .pledge-cart .image-name{
    display: flex;
    align-items: center;
    gap: 20px;
}

.pledge .pledge-cart .image-name img{
    width:80px;
}

.pledge .pledge-cart .image-name h4{
    margin-bottom: 10px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.pledge .pledgesummary .delete-item i{
    font-size: 22px;
    cursor: pointer;
    transition: 0 .3s;
}
.pledge .pledgesummary .delete-item i:hover{
    color: #E51A1A;
    transform: scale(1.1);
}
.pledge .pledgesummary .quantity-control{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 5px;
}

.pledge .pledgesummary .quantity-control span{
    font-size: 18px;
    min-width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:var(--bg-color) ;
    padding: 3px 0;
    /* border: 1px solid var(--border-color); */
}

.pledge .pledgesummary .quantity-control button,
.pledge .pledgesummary .quantity-control a{
    width:27px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    border-radius: 2px;
    border: 1px solid var(--border-color); 
    background-color: var(--bg-color)  
}
.pledge .pledge-cart .image-name select{
    position: relative;
    padding: 10px 20px;
    background: var(--bg-color);
    margin-top: 10px;
    cursor: pointer;
    font-size: 16px;
    
}

.pledge .pledgesummary .bottom-summary{
    border-top:1px solid var(--border-color) ;
} 

.pledge .pledgesummary .Reward-table{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pledge .pledgesummary .Reward-table p{
    font-size: 20px;
    color:var(--dark-color);
    text-transform: capitalize;
}

.pledge .pledgesummary .Reward-table span{
    font-weight: bold;
    font-size: 18px;
}

.pledge .pledgesummary .login-signup {
    border-top: 1px solid var(--border-color);
    padding-top: 30px 0;
}

.pledge .pledgesummary .login-signup button{
    width:100%;
    font-size: 20px;
    color: var(--white-color);
    font-weight: bold;
}

.pledge .pledgesummary .login-signup button:hover{
    color: var(--main-color);
}

.pledge .input-info{
    width:45%;
}
.pledge .input-info h2{
    padding: 10px 20px;
    background: var(--main-color);
    text-transform: capitalize;
}
.pledge .input-info .address{
    margin-bottom: 25px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid var(--border-color);
    box-shadow:8px 8px 10px #c0bfbf44 ;   
}

.pledge .input-info .login-signup {
    text-align: center;
    padding-bottom: 20px;
}

.pledge .input-info .login-signup button{
    width:50%;
    color: var(--white-color);
    font-size: 18px;
    margin: auto;
}

.pledge .input-info .login-signup button:hover{
    width:50%;
    color: var(--main-color);
    font-size: 18px;
}
.pledge .input-info .inputs{
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
}

.pledge .input-info .inputs label{
    color: var(--dark-color);
    font-size: 14px;
    text-transform: capitalize;
}
.pledge .input-info .inputs input{
    margin: 8px 0;
    padding: 15px 10px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.pledge .input-info .inputs input:focus{
    border: 1px solid var(--main-color);

}


/* Responsive */
@media (max-width:1000px){
    .pledge .container{
        flex-direction: column;
        gap:50px;
    }
    .pledge .pledgesummary,
    .pledge .input-info{
        width:80%
    }
}
@media (max-width:500px){
    .pledge .container{
        padding: 0;
        width: 100%;

    }
    .pledge .pledgesummary,
    .pledge .input-info{
        width:100%;
    }
    
}









    





