a h5 {
    white-space: nowrap;     
    overflow: hidden;    
    text-overflow: ellipsis; 
    width: 300px;            
  }

  .p-5 p{

        display: -webkit-box;           
        -webkit-line-clamp: 2;         
        -webkit-box-orient: vertical;
        overflow: hidden;                
        text-overflow: ellipsis;
      
  }

  div a img{
    height: 200px;
    margin: auto;
  }